body {
  font-family: "Raleway", sans-serif;
  text-align: center;
  letter-spacing: 2px;
}

h1 {
  font-family: "Metamorphous", cursive;
  letter-spacing: 3px;
  margin-top: 1.1rem;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

.health-bar {
  width: 80%;
  height: 40px;
  background-color: #eee;
  margin: auto;
  transition: width 500ms;
}

.remaining-health {
  height: 40px;
  background-color: green;
  margin: 0;
  color: white;
}

.controls, .log {
  margin-top: 30px;
  padding: 10px 10px 0 10px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 6px #ccc;
}

.turn {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 22px;
}

ul {
  margin-left: 0;
}

.log ul {
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
}

.log ul li {
  margin: 5px;
}

.log ul .player-turn {
  color: #2f45c0;
  background-color: #e4e8ff;
}

.log ul .demon-turn {
  color: #c51b1e;
  background-color: #ffc0c1;
}

button {
  font-size: 20px;
  background-color: #eee;
  padding: 12px;
  box-shadow: 0 1px 1px black;
  margin: 10px;
}

button:hover {
  cursor: pointer;
}

#start-game {
  background-color: #7ad47a;
}

#start-game:hover {
  background-color: #6cc56c;
}

#attack {
  background-color: #ff7367;
}

#attack:hover {
  background-color: #ff3f43;
}

#special-attack {
  background-color: #ffaf4f;
}

#special-attack:hover {
  background-color: #ff9a2b;
}

#heal {
  background-color: #87cefa;
}

#heal:hover {
  background-color: #76bde9;
}

#give-up {
  background-color: #dbdbdb;
}

#give-up:hover {
  background-color: #acacac;
}

/* Smartphones */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.15rem;
  }
}