<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Demon Slayer</title>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <script defer src="app.js"></script>

  <!-- Only using CSS for Foundation, no JS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css" integrity="sha256-xpOKVlYXzQ3P03j397+jWFZLMBXLES3IiryeClgU5og= sha384-gP4DhqyoT9b1vaikoHi9XQ8If7UNLO73JFOOlQV1RATrA7D0O7TjJZifac6NwPps sha512-AKwIib1E+xDeXe0tCgbc9uSvPwVYl6Awj7xl0FoaPFostZHOuDQ1abnDNCYtxL/HWEnVOMrFyf91TDgLPi9pNg==" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Metamorphous|Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/app.css">

</head>
<body>
<div id="app" class="grid-container">
  <h1>DEMON SLAYER</h1>
  <section class="grid-x">
    <div class="cell small-6">
      <h2>YOU</h2>
      <div class="health-bar">
        <div
          class="remaining-health"
          :style="{ width: playerHealth >= 0 ? playerHealth + '%' : 0 }"
        >
          {{ playerHealth <= 0 ? null : playerHealth }}
        </div>
      </div>
    </div>
    <div class="cell small-6">
      <h2>DEMON</h2>
      <div class="health-bar">
        <div
          class="remaining-health"
          :style="{ width: demonHealth >= 0 ? demonHealth + '%' : 0 }"
        >
          {{ demonHealth <= 0 ? null : demonHealth }}
        </div>
      </div>
    </div>
  </section>
  <section class="cell controls" v-if="!gameIsRunning">
    <button id="start-game" @click="startGame">NEW GAME</button>
  </section>
  <section class="cell controls" v-else>
    <button id="attack" @click="attack">ATTACK</button>
    <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
    <button id="heal" @click="heal">HEAL</button>
    <button id="give-up" @click="giveUp">GIVE UP</button>
  </section>
  <section class="cell log" v-if="turns.length > 0">
    <ul>
      <li
        v-for="turn in turns"
        :class="{ 'player-turn': turn.isPlayer, 'demon-turn': !turn.isPlayer }"
      >
        {{ turn.text }}
      </li>
    </ul>
  </section>
</div>
</body>
</html>